langchain-ollama
ipykernel
langchain-community
pypdf
langchain-huggingface
sentence-transformers
faiss-cpu
langchain
python-dotenv
ragas
langchain_groq
pandas
matplotlib
seaborn
pymysql
streamlit 
plotly 
sqlalchemy